/*feature*/

.feature {
    &__cards {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        margin-bottom: 80px;

        @media(max-width: 1010px) {
            gap: 20px;
            margin-bottom: 60px;
        }

        @media(max-width: 760px) {
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }

/*пульсирующий круг*/

        & > :nth-child(1) {

            & > .card__img {

                &::before {
                    @include shake-circle;                   
                    left: 140px;
                    top: 273px;
                    
                    @media(max-width: 1450px) {
                        left: 100px;
                        top: 201px;
                    }

                    @media(max-width: 1010px) {
                        left: 62px;
                        top: 169px;
                    }

                    @media(max-width: 760px) {
                        left: 87px;
                        top: 199px;
                    }
                }
            }            
        }

        & > :nth-child(2) {

            & > .card__img {

                &::before {
                    @include shake-circle;                   
                    left: 163px;
                    top: 225px;
                    
                    @media(max-width: 1450px) {
                        left: 123px;
                        top: 155px;
                    }

                    @media(max-width: 1010px) {
                        left: 83px;
                        top: 122px;
                    }

                    @media(max-width: 760px) {
                        left: 110px;
                        top: 140px;
                    }
                }
            }            
        }

        & > :nth-child(3) {

            & > .card__img {

                &::before {
                    @include shake-circle;                   
                    left: 33px;
                    top: 175px;   
                    
                    @media(max-width: 1450px){
                        top: 135px;
                    }

                    @media(max-width: 1010px) {
                        left: 20px;
                        top: 98px;
                    }

                    @media(max-width: 760px) {
                        left: 33px;
                        top: 125px;
                    }
                }
            }            
        }
    }

    &__card {
        width: 410px;
        
        @media(max-width: 760px) {
            width: 100%;
        }
    }

    &__btn {
        width: 283px;
        height: 62px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        @include button-white;
        border-radius: 51px;
        font-weight: 500;
        font-size: 18px;

        &:hover {
            @include button-red;
        }

        @media(max-width: 1010px) {
            @include button-red;
            width: 280px;
            height: 49px;

            &:hover {
                @include button-hover;
            }
        }
    }
}

.card {
    &__img {
        position: relative;
        margin-bottom: 50px;

        @media(max-width: 1010px) {
            margin-bottom: 30px;
        }
                
        &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 20px;
            background-color: var(--btn-color);
            right: -10px;
            bottom: -10px;
            z-index: -5;

            @media(max-width: 1450px) {
                right: -8px;
            }

            @media(max-width: 1010px) {
                right: 0;
            }
        }

        & img {
            border-radius: 20px;
            z-index: 2;

            &:hover {
                transition: transform 1s;
                transform: translateY(10px) translateX(10px);

                @media(max-width: 1450px) {
                    transform: translateY(10px) translateX(8px);
                }
    
                @media(max-width: 1010px) {
                    transform: translateY(10px) translateX(0);                
                }
            }
        }
    }

    &__title {
        margin-bottom: 20px;
    }

    &__text {
        font-weight: 400;
        margin-bottom: 20px;
    }

    &__link {
        width: 165px;
        color: var(--btn-color);
        display: flex;
        align-items: center;
        gap: 24px;
        font-size: 18px;

        &:hover {
            transition: transform 1s;
            transform: translateX(20px);
        }

        @media(max-width: 1010px) {
            font-size: 14px;
            gap: 12px;
        }
        
        & svg {
            width: 32px;
            height: 18px;

            @media(max-width: 1010px) {
                width: 24px;
                height: 12px;
            }
        }
    }
}
