/*promo*/
.promo {
    background: url(../img/bg_promo.png) no-repeat top / cover;
    height: 837px;
    position: relative;

    &__container{
        padding-top: 205px; /*281px*/
    }

    &__content {
        width: 781px;
        padding: 40px;
        border-radius: 20px;
        background: rgba(55, 62, 70, 0.3);
    }

    &__title {
        font-family: $font-Posterama;
        font-weight: 500;/*по макету 600*/
        font-size: 110px;
        line-height: 100%;
        letter-spacing: -0.04em;
        color: var(--header-color);
        margin-bottom: 40px;
    }

    &__text {
        font-family: $font-Montserrat;
        font-weight: 600;
        font-size: 24px;
        color: var(--header-color);
    }

    &__bottom {
        position: absolute;
        bottom: -36px;
        left:50%;
        transform: translateX(-50%);
        width: 662px;
        height: 72px;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        background-color: var(--btn-color);
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        color: var(--text-color);
        border-radius: 20px;
        padding: 20px 32px;

        font-family: $font-Montserrat;
        font-weight: 500;
        font-size: 18px;

        & svg{
            flex: 1;
        }

        &:hover {
            background-color: var(--text-color);
            color: var(--btn-color);

            & > svg {
                & path {   
                    fill: var(--btn-color)
                }
            }
        }    
    }

    &__right {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 20px;
        right: 20px;
        bottom: -50px;
    }

    &__scroll-down {
        width: 60px;
        height: 60px;
        position: absolute;
        right: 240px;
        bottom: 40px;

        &:hover {
            & a {
                & > svg {
                    & path {   
                        fill: var(--hover);
                    }

                    & circle {   
                        fill: var(--text-color);
                        stroke: var(--hover);
                    }
                }
            }
        } 
    }

    
}


