$font-Posterama: 'Posterama Text', sans-serif;
$font-Montserrat: 'Montserrat', sans-serif;

@mixin button-hover{
    background-color: var(--hover);
    transition: background-color .5s ease 0s;
}

@mixin link-hover{
    color: var(--hover);
    transition: background-color .5s ease 0s;
}


